*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --app-color: rgb(0, 179, 255);
   
    --light-color: #ccc;
    --dark-color: #000;
    --ulight-color: #fff;
}

.app-input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--light-color);
}
.app-input:active, .app-input:focus{
    border: 1px solid var(--app-color);
    outline: none;
}

.app-check-combo{
    display: flex;
}
.app-check-combo > input{
    margin-right: 5px;
}

.app-vertical-form{
    display: flex;
    flex-direction: column;
}
.app-vertical-form > *{
    margin-bottom: 10px;
}

.app-password-box{
    display: flex;
    border: 1px solid var(--light-color);
    border-radius: 5px;
    max-height: 30px;
}
.app-password-box > input{
    border: none;
    width: 100% ;
    margin: 0 !important;
}
.app-password-box > input:active, .app-password-box > input:focus{
    border: none;
}
.app-password-box > img{
    max-height: 30px;
    width: auto;
}
.app-password-box:has(:focus), .app-password-box:has(:active){
    border: 1px solid var(--app-color);
    outline: none;
}
.app-link{
    color: var(--app-color);
}

.floating-message{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border-radius: 8px;
    background-color: var(--ulight-color);
}
.floating-message > div{
    background-color: var(--app-color);
    padding: 20px;
    border-radius: 8px 8px 0 0;
    text-align: center;
}
.floating-message > p{
    padding: 20px;
}